body {
  background: black;
  font-family: "Times New Roman", Times, serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-header);
  height: var(--header-height);
  padding: 0 20px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: rgb(138, 27, 27);
  height: 200px;
}
